<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>配置</title>
    <link th:include="component/head::head">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>文章源文件 <small></small></h5>
            <div class="ibox-tools">
                <a class="add-link">
                    <i class="fa fa-plus"></i>
                </a>
                <a class="refresh-link" onclick="initArticles()">
                    <i class="fa fa-refresh"></i>
                </a>
                <a class="collapse-link">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content" id="article-source">
            <!--            <form class="form-horizontal" id="article-from-1">-->
            <!--                <input type="hidden" id="article-1">-->
            <!--                <div class="form-group">-->
            <!--                    <label class="col-sm-1 control-label">路径配置：</label>-->
            <!--                    <div class="col-sm-11">-->
            <!--                        <input type="text"-->
            <!--                               placeholder="请填写已有博客路径" class="form-control">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="form-group">-->
            <!--                    <label class="col-sm-1 control-label">远程仓库：</label>-->
            <!--                    <div class="col-sm-11">-->
            <!--                        <input type="text" placeholder="请填写远程仓库地址"-->
            <!--                               class="form-control">-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--                <div class="form-group">-->
            <!--                    <div class="col-sm-12 col-xs-offset-1">-->
            <!--                        <button class="btn btn-sm btn-info" type="button" onclick="enableForm('blogConfig')">编辑</button>-->
            <!--                        <button class="btn btn-sm btn-danger" type="button" id="save">保存</button>-->
            <!--                    </div>-->
            <!--                </div>-->
            <!--            </form>-->
        </div>
    </div>
</div>
<div th:include="component/head::script"/>
<!-- 自定义js -->
<script type="text/javascript">

    function addArticleForm(index, data) {

        let html = '';
        if (index > 0) {
            html += '<hr>'
        }
        let disabled = ''
        if (data) {
            disabled = 'disabled'
        }
        data = data || {
            'filePath': '',
            'id': 0,
            'remoteUrl': '',
        }
        html += '<form class="form-horizontal" id="article-from-' + index + '">' +
            '                <input type="hidden" name="id" value="' + data.id + '">' +
            '                <input type="hidden" name="type" value="ARTICLE">' +
            '                <div class="form-group">' +
            '                    <label class="col-sm-1 control-label">路径配置：</label>' +
            '                    <div class="col-sm-11">' +
            '                        <input type="text" name="filePath"  value="' + data.filePath + '" ' + disabled + ' placeholder="请填写已有博客路径" class="form-control">' +
            '                    </div>' +
            '                </div>' +
            '                <div class="form-group">' +
            '                    <label class="col-sm-1 control-label">远程仓库：</label>' +
            '                    <div class="col-sm-11">' +
            '                        <input type="text" name="remoteUrl" value="' + data.remoteUrl + '" ' + disabled + ' placeholder="请填写远程仓库地址" class="form-control">' +
            '                    </div>' +
            '                </div>' +
            '                <div class="form-group">' +
            '                    <div class="col-sm-12 col-xs-offset-1">' +
            '                        <button class="btn btn-sm btn-info" type="button" onclick="enableForm(\'article-from-' + index + '\')">编辑</button>' +
            '                        <button class="btn btn-sm btn-danger" type="button" onclick="saveArticle(\'article-from-' + index + '\')">保存</button>' +
            '                    </div>' +
            '                </div>' +
            '            </form>'
        $("#article-source").append(html)
    }

    function initArticles() {
        $.get("/source/article/config", function (res) {
            let articles = res.data
            $("#article-source").empty()
            if (articles.length > 0) {
                $.each(articles, function (i, article) {
                    addArticleForm(i, article)
                })
            } else {
                addArticleForm(0)
            }
        })
    }

    function saveArticle(formId) {
        $.ajax({
            url: '/source/save',
            type: 'POST',
            data: formJson(formId),
            dataType: 'json',
            contentType: 'application/json',
            success: function (res) {
                layer.msg(res.message)
                if (res.success) {
                    disableForm(formId)
                }
            }
        })
    }

    $(document).ready(function () {
        initArticles()

        $("#save").click(function () {
            let $filePath = $("#filePath");
            if ($filePath.attr("disabled")) {
                return
            }
            let blogPath = $filePath.val()
            if (!blogPath) {
                layer.msg("请填写博客路径")
                return
            }
            $.ajax({
                url: '/config/save',
                type: 'POST',
                data: formJson('blogConfig'),
                dataType: 'json',
                contentType: 'application/json',
                success: function (res) {
                    layer.msg(res.message)
                    if (res.success) {
                        window.location.reload()
                    }
                }
            })
        })
        $('.add-link').click(function () {
            let lastArticleForm = $("#article-source form:last-child")[0]
            let index = parseInt($(lastArticleForm).attr('id').substring(13)) + 1
            addArticleForm(index)
        })
        $("#initBlog").click(function () {
            let id = $("#id").val()
            let data = "id=" + id
            $.post("/config/init", data, function (res) {
                if (res.success) {
                    window.parent.loadMenu()
                    window.location.reload()
                }
            })
        })
    })


</script>
</body>
</html>